[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pydocstyle = "*"
black = "19.10b0"
pytest = "*"

[packages]
aiohttp = "*"
smobot = {editable = true, path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
